
.plus-button{
  display: flex;
  margin-top: 25px;
  margin-bottom: 10px;
  justify-content: flex-end;
}
.search-form{
  display: flex;
  margin-bottom: 25px;
  width: 40%;
}

.pagination-container{
  display: flex;
  justify-content: space-between;
}
.primary-header {
  background-color: var(--button-blue);
}
.primary-header th {
  background-color: var(--button-blue);
  color: white;
  text-align: center;
  padding: 12px;
}
